/* -> main dom elements
--------------------------------------------------------------------------------------------- */
html, body {
    height: 100%;
}

body {
    background: url(../../../images/themes/school/body_back.png) #f4f4f4 repeat 0 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: .8em;
}

h1, h2, h3 {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-weight: lighter;
}

h1 {
    font-size: 3em;
    margin-bottom: 22px;
}

h2 {
    font-size: 2em;
    margin-bottom: 15px;
}

h3 {
    font-size: 1.4em;
    margin-bottom: 5px;
}

p {
    padding-bottom: 14px;
}

strong {
    font-weight: bold;
}

/* -> site structure
--------------------------------------------------------------------------------------------- */

#container {
    min-height: 100%;
    position: relative;
}

#contentwrapper {
    float: left;
    width: 100%;
}

#contentcolumn {
    
    padding: 10px 10px 35px 10px;
}

#contentcolumn1 {
    
    padding: 10px 10px 35px 10px;
}

#leftcolumn {
    float: left;
    width: 180px; /*Width of left column*/
    margin-left: -100%;
}

#admin_header {
    height: 50px;
    background: url(../../../images/themes/school/header_back.png) repeat-x 0 0;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 38px;
    text-shadow: 1px 1px 0 #282828;
    color: #f4f4f4;
}

#admin_header h2 {
    font-size: 2.4em;
    letter-spacing: .2em;
    margin-bottom: 0;
}

#admin_header a, #admin_header a:visited {
    color: #f4f4f4;
    text-decoration: none;
}

#admin_header a:hover {
    color: #000;
    text-shadow: 1px 1px 1px #f4f4f4;
}

#admin_footer {
    height: 22px;
    position: absolute;
    clear: both;
    bottom: 0;
    width: 100%;
    color: #f4f4f4;
    padding-top: 10px;
    background: url(../../../images/themes/school/footer_back.png) repeat-x 0 0;
    line-height: 17px;
}

#navigation {
    float: left;
}

#navigation li {
    float: left;
    padding-right: 20px;
}

#admin_nav {
    padding-left: 2px;
}

#admin_nav li {
    height: 30px;
    line-height: 25px;
}

#admin_nav a, #admin_nav a:visited {
    display: block;
    color: #f4f4f4;
    text-decoration: none;
    background: url(../../../images/arrow_right.png) #909090 no-repeat 0 5px;
    padding-left: 20px;
    text-shadow: 1px 1px 1px #282828;
    box-shadow: 1px 1px 0 #595959;
    width: 153px;
    -webkit-transition: color .3s ease-in-out;
    -moz-transition: color .3s ease-in-out;
    -ms-transition: color .3s ease-in-out;
    -o-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
    opacity: .8;
}

#admin_nav a:hover {
    box-shadow: 2px 2px 0 #595959;
    color: #282828;
    text-shadow: 1px 1px 1px #f4f4f4;
    width: 150px;
    padding-left: 23px;
    background: url(../../../images/arrow_right.png) #909090 no-repeat 3px 5px;
    -webkit-transition: background .1s linear, color .3s linear;
    -moz-transition: background .1s linear, color .3s linear;
    -ms-transition: background .1s linear, color .3s linear;
    -o-transition: background .1s linear, color .3s linear;
    transition: background .1s linear, color .3s linear;
}

#admin ul{
    clear: left;
    height: 24px;
    line-height: 24px;
    background: #efefef;
    margin-bottom: 3px;
    box-shadow: 0 0 1px #282828;
    /*min-width: 1158px;*/
}

#admin ul li{
    float: left;
    padding: 0 3px 0 3px;
}

#admin ul li a, #admin ul li a:visited{
    color: #282828;
    text-decoration: none;
    font-weight: bold;
}

#admin ul li a:hover{
    color: #ff0000;
    text-decoration: underline;
}

#footer_info {
    padding-left: 10px;
    text-shadow: 0 1px 1px #282828;
}

/* -> list members
--------------------------------------------------------------------------------------------- */
.admin_input{
    border: 1px solid #909090;
}

.username{
    width: 110px;
}
.email{
    width: 200px;
}
.first_name{
    width: 100px;
}
.last_name{
    width: 120px;
}
.date{
    width: 140px;
}
.role{
    width: 44px;
}
.edit_banned{
    width: 65px;
}

.edit_active {
    width: 65px;
}

/* Top member list item headings: t_ */
.t_username{
    width: 136px;
}
.t_email{
    width: 226px;
}
.t_first_name{
    width: 100px;
}
.t_last_name{
    width: 120px;
}
.t_date{
    width: 140px;
}
.t_role{
    width: 44px;
}
.t_edit_banned{
    width: 65px;
}
.t_edit_active {
    width: 65px;
}

/* Member list items fields : m_ */
.edit_member_form .m_username {
    width: 108px;
    border: 1px solid #909090;
}
.edit_member_form .m_email {
    width: 198px;
    border: 1px solid #909090;
}
.edit_member_form .m_first_name {
    width: 98px;
    border: 1px solid #909090;
}
.edit_member_form .m_last_name {
    width: 118px;
    border: 1px solid #909090;
}
.edit_member_form .role {
    width: 44px;
}
.m_update {
    background: url(../../../images/edit.png) no-repeat 0 0;
    margin-top: 4px;
    border: 0;
    width: 16px;
    height: 16px;
    cursor: pointer;
}
.m_delete {
    background: url(../../../images/delete.png) no-repeat 0 0;
    margin-top: 4px;
    border: 0;
    width: 16px;
    height: 16px;
    cursor: pointer;
}
.m_password {
    display: block;
    background: url(../../../images/key_go.png) no-repeat 0 0;
    margin-top: 4px;
    border: 0;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

/* list members - pagination */
.pagination {
    clear: left;
    height: 31px;
    line-height: 30px;
    color: #000;
}

.pagination a {
    color: #fff;
    text-decoration: none;
    text-shadow: 1px 1px 1px #282828;
    padding: 3px 8px 2px;
    background: url(../../../images/themes/school/button_back.jpg) #fff repeat 0 0;
    box-shadow: 1px 1px 1px #282828;
    border: 1px solid #ccc;
    -webkit-transition: color .1s linear;
    -moz-transition: color .1s linear;
    -ms-transition: color .1s linear;
    -o-transition: color .1s linear;
    transition: color .1s linear;
}

.pagination strong {
    border: 1px solid #ccc;
    padding: 3px 8px 2px;
    box-shadow: 1px 1px 1px #282828;
}

.asc {
    display: block;
    background: url(../../../images/arrow_down.png) no-repeat -2px 4px;
    padding-left: 14px;
}

.desc {
    display: block;
    background: url(../../../images/arrow_up.png) no-repeat -2px 4px;
    padding-left: 14px;
}

/* list members - buttons */
.promote {
    color: #282828;
    display: block;
    background: url(../../../images/medal_gold_add.png) no-repeat 16px 3px;
    width: 31px;
    height: 22px;
    border: 1px solid #ccc;
    padding: 0 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 1px 1px 1px #F8504A;
}

.demote {
    display: block;
    background: url(../../../images/medal_gold_delete.png) #feaeae no-repeat 16px 3px;
    width: 31px;
    height: 22px;
    border: 1px solid #be3a3a;
    padding: 0 1px 0 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 1px 1px 1px #F8504A;
}

.demote:hover, .promote:hover {
    border: 1px solid #fff;
}

.banned {
    display: block;
    background: url(../../../images/lock.png) #feaeae no-repeat 3px 3px;
    width: 18px;
    height: 22px;
    border: 1px solid #be3a3a;
    padding: 0 1px 0 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 1px 1px 1px #F8504A;
}

.not_banned {
    display: block;
    background: url(../../../images/lock_open.png) no-repeat 3px 3px;
    width: 18px;
    height: 22px;
    border: 1px solid #ccc;
    padding: 0 1px 0 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 1px 1px 1px #F8504A;
}

.banned:hover, .not_banned:hover, .is_active:hover, .not_active:hover {
    border: 1px solid #fff;
}

.is_active {
    display: block;
    background: url(../../../images/application_form_add.png) no-repeat 3px 3px;
    width: 18px;
    height: 22px;
    border: 1px solid #ccc;
    padding: 0 1px 0 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 1px 1px 1px #F8504A;
}

.not_active {
    display: block;
    background: url(../../../images/application_form_delete.png) #feaeae no-repeat 3px 3px;
    width: 18px;
    height: 22px;
    border: 1px solid #be3a3a;
    padding: 0 1px 0 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 1px 1px 1px #F8504A;
}

/* list members - search */
#searchbox_heading ul li, #searchbox ul li{
    float: left;
    width: 250px;
    font-weight: bold;
}

#searchbox {
    clear: left;
    padding-bottom: 15px;
}

.form_label, .form_title {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 20px;
    margin-bottom: 5px;
}

.input_submit, .input_submit_long {
    background: url(../../../images/themes/school/input_back.jpg) #ccc repeat 0 0;
    width: 120px;
    margin-top: 10px;
    font-size: 12px;
    font-family: 'Ubuntu Condensed', sans-serif;
    text-transform: uppercase;
    box-shadow: 1px 1px 1px #282828;
    color: #282828;
    cursor: pointer;
    padding: 1px 3px;
    border: 1px solid #fff;
    margin-bottom: 25px;
}

.input_submit_long {
    width: 180px;
}

.input_text, .input_text_short {
    border: 1px solid #909090;
    padding: 3px 5px;
    width: 270px;
    color: #595959;
    text-shadow: 1px -1px 0px #dcdcdc;
	margin-bottom: 4px;
}
.input_radio, .input_radio_short {
    border: 1px solid #909090;
    padding: 3px 5px;
    color: #595959;
    text-shadow: 1px -1px 0px #dcdcdc;
}

.input_text_short {
    width: 80px;
}

.input_box {
    margin-bottom: 24px;
}

.input_box_thin {
    margin-bottom: 3px;
	width:282px;
}

.grey_box {
    min-width: 300px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #efefef;
    padding: 10px;
    margin-bottom: 18px;
    border: 1px solid #ccc;
}

.qtip-content {
    text-shadow: 1px 1px 1px #282828;
}

/* site settings */
#site_disabled_text {
    width: 630px;
    height: 50px;
    border: 1px solid #909090;
    color: #595959;
    text-shadow: 1px -1px 0 #dcdcdc;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
    padding: 3px 5px;
}

/* error */
#error, #pwd_error {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 1.2em;
    color: #b56f00;
}

/* jQuery ajax checks */
#email_verification_box {
    float: left;
    margin-top: 22px;
}

#username_valid {
    margin-top: 13px;
}

.checking {
    height: 20px;
    line-height: 20px;
}

.check_is_nok {
    height: 20px;
    line-height: 20px;
    padding-left: 20px;
    background: url(../../../images/delete.png) no-repeat 0 2px;
}

.check_is_ok {
    height: 20px;
    line-height: 20px;
    padding-left: 20px;
    background: url(../../../images/edit.png) no-repeat 0 2px;
}

.error_box{
    border: 1px solid #641e1e;
    min-height: 22px;
    padding: 14px 12px 12px 32px;
    line-height: 20px;
    background: url(../../../images/error.png) #e7e7e7 no-repeat 8px 16px;
    opacity: .8;
    margin-bottom: 5px;
}

/* -> generic classes
--------------------------------------------------------------------------------------------- */
.floatleft {float: left;}
.floatright {float: right;}
.clearboth {clear: both;}
.bullet_list {
    line-height: 18px;
    margin-bottom: 15px;
    list-style-type: circle;
    padding-left: 20px;
}

.text_black {
    line-height: 24px;
    color: #000;
    padding-right: 40px;
}
.checkbox {
    position: relative;
    top: 2px;
}

ul.test{
    background: none !important;
    box-shadow: none !important;
    clear: none !important;
}
.grey_box1{
	background: none repeat scroll 0 0 #EFEFEF;
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    margin-bottom: 18px;
    min-width: 300px;
    padding: 2px 10px 2px 10px;
    
}
.form_label1{
	font-family: 'Ubuntu Condensed',sans-serif;
    font-size: 14px;
}

/* GLOBAL BLACK BUTTON *****************************/
a.GlobalBlackButton span 			{background: transparent url('../../images/button_left_black.png') no-repeat 0 0; display: block; 
									line-height: 22px; padding: 7px 0 5px 18px; color: #fff;} 								
a.GlobalBlackButton 				{background: transparent url('../../images/button_right_black.png') no-repeat top right; 
									display: block;	float: left; height: 34px; margin-right: 6px; 
									padding-right: 20px; text-decoration: none; font-family: Arial, Helvetica, sans-serif; 
									font-size:12px; font-weight:bold;}
a.GlobalBlackButton:hover span		{background-position: 0 -34px; color: #fff;}
a.GlobalBlackButton:hover			{background-position: right -34px;}

.submit_button {
	-webkit-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
	-moz-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
	box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
	color:#333;
	background-color:#FA2;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:none;
	font-family:'Helvetica Neue',Arial,sans-serif;
	font-size:16px;
	font-weight:700;
	height:32px;
	padding:4px 16px;
	text-shadow:#FE6 0 1px 0;
	cursor:pointer;
	text-decoration:none;
}
.t_grid_title{
    width: 150px;
	font-weight: bold;
}
.t_grid_data_col_1{
	float:left;
	width:140px; 
	padding-left: 14px;
}
.t_grid_data_col{
	float:left;
	width:150px;
	padding: 0 3px;
}

.membership_box {
    width: 317px;
}

.membership_box_register {
    width: 651px;
}
/* membership box style */
.centerbox_top, .centerbox_bot {
    width: 435px;
    height: 24px;
    margin: 40px auto 0;
    background: url(../../../images/themes/school/centerbox_back_top.png) no-repeat 0 0;
}

.centerbox_bot {
    background: url(../../../images/themes/school/centerbox_back_bottom.png) no-repeat 0 0;
    margin: 0 auto 10px;
}

/* register box style */
.regbox_top, .regbox_bot {
    width: 800px;
    height: 24px;
    margin: 40px auto 0;
    background: url(../../../images/themes/school/regbox_top.png) no-repeat 0 0;
}

.regbox_bot {
    background: url(../../../images/themes/school/regbox_bot.png) no-repeat 0 0;
    margin: 0 auto 40px;
}

.register_form {
    width: 726px;
    margin: 0 auto;
    background: url(../../../images/themes/school/regbox_back.png) repeat-y 0 0;
    padding-left: 74px;
}
.membership_link {
    text-align: center;
	width:50%;

    margin: 0 auto
}

.membership_link li:last-child {
 border-top:1px solid #ccc;
 padding-top:6px;
  margin-top:6px
}

.membership_link a, .membership_link a:visited{
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 1.2em;
    text-decoration: none;
    color: #595959;
    background: #f4f4f4;
    border: 1px solid #ccc;
    padding: 10px;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    -ms-transition: background .3s ease-in-out;
    -o-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
    margin: 0 3px;
    line-height: 40px; /* makes IE7 play nice */
}

.membership_link a:hover {
    background-color: #595959;
    color: #f4f4f4;
    text-shadow: 0 1px 0 #282828;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    -ms-transition: background .3s ease-in-out;
    -o-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}


.membership_form {
    width: 373px;
    margin: 0 auto;
    background: url(../../../images/themes/school/centerbox_back.png) repeat-y 0 0;
    padding-left: 62px;
}

.membership_submit, .reg_submit {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 18px;
    width: 239px;
    height: 59px;
    padding: 0;
    border: 0;
    background: transparent url(../../../images/themes/school/form_button.png) no-repeat 0 0;
    cursor: pointer;
    text-shadow: 1px 1px 1px #fff;
    margin-left: 36px;
}

.reg_submit {
    margin-left: 206px;
}

.membership_submit:hover, .reg_submit:hover {
    background: transparent url(../../../images/themes/school/form_button_hover.png) no-repeat 0 0;
    color: #5b5d3e;
}
#remember_me_box {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 12px;
    padding-bottom: 20px;
}

.remember_me_checkbox {
    position: relative;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    top: -1px;
}


/* header styles */
.default_header_style {
    height: 36px;
    background: url(../../../images/themes/school/header_back2.png) repeat-x 0 0;
    color: #f4f4f4;
    line-height: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

.default_header_style a, .default_header_style a:visited {
    color: #f4f4f4;
}

.default_header_style a:hover {
    text-decoration: none;
    color: #f2ff02;
    text-shadow: 1px 1px 1px #000;
}

/* footer styles */
.default_footer_style {
    position: absolute;
    clear: both;
    bottom: 0;
    width: 100%;
    height: 35px;
    background: url(../../../images/themes/school/footer_back2.png) repeat-x 0 0;
    color: #f4f4f4;
    text-shadow: 1px 1px 1px #000;
}

.default_footer_style a, .default_footer_style a:visited {
    color: #f4f4f4;
}

.default_footer_style a:hover {
    text-decoration: none;
    color: #f2ff02;
    text-shadow: 1px 1px 1px #000;
}

.default_footer_style p {
    padding-left: 10px;
    padding-top: 15px;
    text-shadow: 0 0 1px #000;
    padding-bottom: 0;
}

label.error {
float: none;
color: red;
vertical-align: top;
background:url("../../../images/delete.png") no-repeat scroll 0 2px transparent;
padding-left: 18px;
    padding-top: 2px;
}

/*
CSS3-only Horizontal Drop Line Tab Menu
http://www.skyrocketlabs.com
skyrocketlabs@gmail.com
*/

/* ARCHITECTURE */


/* MENU STYLE - IGNORE EVERYTHING ABOVE THIS LINE IF YOU WISH */

#menu {
  width: 100%;
  height: 43px;
  clear: both;
}

ul#nav {
  float: left;
  
  margin: 0;
  padding: 0;
  list-style: none;
  /*background: #dc0000 url(../img/menu-parent.png) repeat-x;*/
  background: url("../../../images/themes/school/header_back.png") repeat-x scroll 0 0 transparent;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;  
   width: 100%;
   height: 43px;
}

ul#nav li {
  display: inline;
  z-index:10000;
}

ul#nav li a {
  float: left;
  font-family: 'Ubuntu Condensed',sans-serif;
  font-size:12px;
  font-weight:bold;
  line-height: 43px;
  color: #fff;
  text-decoration: none;
  
  margin: 0;
  padding: 0 9px;
  /*background: #dc0000 url(../img/menu-parent.png) repeat-x;*/
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;   
  height: 43px;
  
}

/* APPLIES THE ACTIVE STATE */
ul#nav .current a, ul#nav li:hover > a  {
  color: #000;
  text-decoration: none;
  
  /*background: #bb0000;*/
   background-color:#BBBBBB;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px; 
  height: 43px;
}

/* THE SUBMENU LIST HIDDEN BY DEFAULT */
ul#nav  ul.submenu {
  display: none;
}

/* SUBMENU SELECTED */
/*ul#nav li.current > ul  {
  position: absolute;
  display: block;
  width: 100%;
  height: 43px;
  position: absolute;
  margin: 43px 0 0 0;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px; 
  background-color:#BBBBBB;
  display:block;
  height: 43px;
}

ul#nav li.current > ul li a {
  float: left;
  font-family: 'Ubuntu Condensed',sans-serif;
  font-size:12px;
  font-weight:bold;
  line-height: 43px;
  color: #fff;
  text-decoration: none;
  
  margin: 0;
  padding: 0 30px 0 0;
  
  background-color:#BBBBBB; 
  height: 43px;
}*/

/* WHEN THE FIRST LEVEL MENU ITEM IS HOVERED, THE CHILD MENU APPEARS */
ul#nav li:hover > ul {
  position: absolute;
  display: block;
  width: 100%;
  
  position: absolute;
  margin: 43px 0 0 0;
  /*background: #aa0000 url(../img/menu-child.png) repeat-x;*/  
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px; 
  background-color:#BBBBBB;
  z-index:10000;
}

ul#nav li:hover > ul li a {
  float: left;
  font-family: 'Ubuntu Condensed',sans-serif;
  font-size:12px;
  font-weight:bold;
  line-height: 43px;
  color: #fff;
  text-decoration: none;
 
  margin: 0;
  padding: 0 8px 0 0;
  /*background: #aa0000 url(../img/menu-child.png) repeat-x;*/
   background-color:#BBBBBB; 
   height: 43px;
}

ul#nav li:hover > ul li a:hover {
  color: #120000;
  text-decoration: none;
  text-shadow: none;
}

.divmain{
	font-family: 'Ubuntu Condensed',sans-serif; 
	font-size: 17px; 
	color: #000000;
	
}
.divsub{
	margin-left: 12px; 
	font-family: 'Ubuntu Condensed',sans-serif; 
	color: #FFFFFF; 
	font-size: 14px;
	
	
}
.divheadmnu{
	clear: both; 
	margin-left: 28px; 
	margin-top: 3px;
	background-image: url(../../../images/book_open.png);
	background-repeat:no-repeat;
	padding-left: 19px;
}
.divheadmnu a{
	font-size:14px !important; 
	line-height:16px !important;
	height:auto !important;
	background-image: url(../../../images/right_arrow.png) !important;
	background-repeat:no-repeat !important;
	padding-left:17px !important;
}
.submenu li{
	float: left;
	padding-bottom: 8px;
}

.input_text1, .input_text_short1 {
    border: 1px solid #909090;
    padding: 3px 5px;
    width: 150px;
    color: #595959;
    text-shadow: 1px -1px 0px #dcdcdc;
	margin-bottom: 4px;
}

.grey_box2 {
    min-width: 300px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #efefef;
    padding: 5px 10px 5px 10px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
}

.form_label2, .form_title2 {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 18px;
    margin-bottom: 5px;
}
.inner_div {
  height: auto;  
  background: #ffffff;
  border: 1px solid #c9c9c9;
  color: #000000;  
  position: relative;
  top: -8px;
  left: -8px;
  overflow: hidden; 
  box-shadow:2px 3px 3px;
  float:right;
  padding-top: 6px;
  
}
.text_div {
  padding: 10px;
  
}
.add_image_div {
  float:left;
  cursor:pointer;
}


#nav1{
	margin: 0;
	padding: 7px 0px 0;
	/*background: #7d7d7d url(../../../images/gradient.png) repeat-x 0 -110px;*/
	background: url("../../../images/themes/school/header_back.png") repeat-x scroll 0 0 transparent;
	line-height: 100%;
	width: 100%;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0, .4);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0, .4);
	height:36px;
	float:left;
}
#nav1 li {
	/*margin: 0 5px;*/
	padding: 0 0 8px;
	float: left;
	position: relative;
	list-style: none;
	z-index:1;
}


/* main level link */
#nav1 a {
	font-weight: bold;
	color: #e7e5e5;
	text-decoration: none;
	display: block;
	padding:  8px 8px;
	margin: 0;

	-webkit-border-radius: 1.6em;
	-moz-border-radius: 1.6em;
	border-radius: 1.6em;
	text-shadow: 0 1px 1px rgba(0,0,0, .3);
}
#nav1 a:hover {
	background: #000;
	color: #fff;
}

/* main level link hover */
#nav1 .current a, #nav1 li:hover > a {
	background: #666 url(../../../images/gradient.png) repeat-x 0 -40px;
	color: #444;
	border-top: solid 1px #f8f8f8;

	-webkit-box-shadow: 0 1px 1px rgba(0,0,0, .2);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0, .2);
	box-shadow: 0 1px 1px rgba(0,0,0, .2);

	text-shadow: 0 1px 0 rgba(255,255,255, 1);
}

/* sub levels link hover */
#nav1 ul li:hover a, #nav1 li:hover li a {
	background: none;
	border: none;
	color: #666;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}
#nav1 ul a:hover {
	background: #0078ff url(../../../images/gradient.png) repeat-x 0 -100px !important;
	color: #fff !important;

	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	text-shadow: 0 1px 1px rgba(0,0,0, .1);
}

/* dropdown */
#nav1 li:hover > ul {
	display: block;
}

/* level 2 list */
#nav1 ul {
	display: none;

	margin: 0;
	padding: 0;
	width: 185px;
	position: absolute;
	top: 35px;
	left: 0;
	background: #ddd url(../../../images/gradient.png) repeat-x 0 0;
	border: solid 1px #b4b4b4;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	-webkit-box-shadow: 0 1px 3px rgba(0,0,0, .3);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0, .3);
	box-shadow: 0 1px 3px rgba(0,0,0, .3);
}
#nav1 ul li {
	float: none;
	margin: 0;
	padding: 0;
}

#nav1 ul a {
	font-weight: normal;
	text-shadow: 0 1px 0 #fff;
}

/* level 3+ list */
#nav1 ul ul {
	left: 181px;
	top: -3px;
}

/* rounded corners of first and last link */
#nav1 ul li:first-child > a {
	-webkit-border-top-left-radius: 9px;
	-moz-border-radius-topleft: 9px;

	-webkit-border-top-right-radius: 9px;
	-moz-border-radius-topright: 9px;
}
#nav1 ul li:last-child > a {
	-webkit-border-bottom-left-radius: 9px;
	-moz-border-radius-bottomleft: 9px;

	-webkit-border-bottom-right-radius: 9px;
	-moz-border-radius-bottomright: 9px;
}

/* clearfix */
#nav1:after {
	/*content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;*/
}
#nav1 {
	/*display: inline-block;*/
} 
html[xmlns] #nav1 {
	display: block;
}
 
* html #nav1 {
	height: 1%;
}

#nav1 a.logout:hover {
    background: none;
    
}

#nav1 .current a, #nav1 li:hover > a .logout {
}